<div class="sidebar">
    <div class="top">
        <div class="logo">
            <img id="logo-mini" src="./logo.png" alt="logo"/>
            <span>HIV Advocacy Database (HAD)</span>
        </div>
        <i class ="bx bx-menu" id="btn"></i>
    </div>
    
    <ul>
        <li class="active">
            <a href="/dashboard">
                <i class="bx bxs-grid-alt"></i>
                <span class="nav-item">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/tracker">
                <i class="bx bxs-pencil"></i>
                <span class="nav-item">Data Tracker</span>
            </a>
            <span class="tooltip">Data Tracker</span>
        </li>
        <li>
            <a href="/data">
                <i class="bx bx-table"></i>
                <span class="nav-item">Data Log</span>
            </a>
            <span class="tooltip">Data Log</span>
        </li>
        <li>
            <a href="/profile">
                <i class="bx bxs-user"></i>
                <span class="nav-item">Profile</span>
            </a>
            <span class="tooltip">Profile</span>
        </li>
        <li>
            <a href="/history">
                <i class="bx bx-list-ul"></i>
                <span class="nav-item">History Log</span>
            </a>
            <span class="tooltip">History Log</span>
        </li>
        <li>
            <a href="/logout">
                <i class="bx bxs-log-out"></i>
                <span class="nav-item">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>

    <div class="user">
        <img src="./gabay-logo.jpeg" alt="gabay org" class="user-img">
        <div class="div">
            <p class="bold">{{user.name}}</p>
            <p>{{user.role}}</p>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="header">
        <h1>Dashboard</h1>
    </div>

    <div class="filter">
        <select class="monthly">
            <option value="january">January</option>
            <option value="february">February</option>
            <option value="march">March</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="august">August</option>
            <option value="september">September</option>
            <option value="october">October</option>
            <option value="november">November</option>
            <option value="december">December</option>
        </select>
        <div class="yearly">Yearly</div>
    </div>

    <div class="statistics">
        <div class="total">
            <div id="stats">
                <p class="stats-title"><b>Total Patients Tested</b></p>
                <p class="number">{{statistics.totalPatientsTested}}</p>
            </div>
            <i id="icon-stats" class="bx bxs-group"></i>
        </div>
        <div class="positive">
            <div id="stats">
                <p class="stats-title"><b>Positive Patients Tested</b></p>
                <p class="number">{{statistics.positivePatientsTested}}</p>
            </div>
            <i id="icon-stats" class="bx bxs-user-plus"></i>
        </div>
        <div class="negative">
            <div id="stats">
                <p class="stats-title"><b>Negative Patients Tested</b></p>
                <p class="number">{{statistics.negativePatientsTested}}</p>
            </div>
            <i id="icon-stats" class="bx bxs-user-minus"></i>
        </div>
    </div>

    <div class="container">
        <div class="graph1">
            <p class="reason">Testing outcomes by main reason for HIV Test</p>
            <div class="chart">
                <canvas id="horizontalbarchart"></canvas>
            </div>
        </div>
        <div class="graph2">
            <p class="reason">Testing outcomes by Key or Vulnerable Population (KVP) at higher risk</p>
            <div class="chart">
                <canvas id="horizontalbarchart2"></canvas>
            </div>
        </div>
        <div class="graph3">
            <p class="reason">Testing outcomes for clients who were tested before (repeat testers)</p>
            <div class="chart">
                <canvas id="barchart"></canvas>
            </div>
        </div>
        <div class="graph4">
            <p class="reason">Testing outcomes by age</p>
            <div class="chart">
                <canvas id="linechart"></canvas>
            </div>
        </div>
        <div class="graph5">
            <p class="reason">Testing outcomes for first time testers</p>
            <div class="chart">
                <canvas id="horizontalbarchart3"></canvas>
            </div>
        </div>
        <div class="graph6">
            <p class="reason">Linkage for positive clients</p>
            <div class="chart">
                <canvas id="linechart2"></canvas>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2024 HIV Advocacy Database. All rights reserved.</p>
    </div>
</div>