<div class="sidebar">
    <div class="top">
        <div class="logo">
            <img id="logo-mini" src="./logo.png" alt="logo"/>
            <span>HIV Advocacy Database (HAD)</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    
    <ul>
        <li>
            <a href="/dashboard">
                <i class="bx bxs-grid-alt"></i>
                <span class="nav-item">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        {{#if (or (eq user.role "Data Encoder") (eq user.role "Data Manager"))}}
        <li>
            <a href="/tracker">
                <i class="bx bxs-pencil"></i>
                <span class="nav-item">Data Tracker</span>
            </a>
            <span class="tooltip">Data Tracker</span>
        </li>
        {{/if}}
        {{#if (eq user.role "Data Manager")}}
        <li class="active">
            <a href="/data">
                <i class="bx bx-table"></i>
                <span class="nav-item">Data Log</span>
            </a>
            <span class="tooltip">Data Log</span>
        </li>
        {{/if}}
        <li>
            <a href="/profile">
                <i class="bx bxs-user"></i>
                <span class="nav-item">Profile</span>
            </a>
            <span class="tooltip">Profile</span>
        </li>
        {{#if (eq user.role "Data Manager")}}
        <li>
            <a href="/history">
                <i class="bx bx-list-ul"></i>
                <span class="nav-item">History Log</span>
            </a>
            <span class="tooltip">History Log</span>
        </li>
        {{/if}}
        {{#if (eq user.role "Data Manager")}}
        <li>
            <a href="/user">
                <i class="bx bxs-user-detail"></i>
                <span class="nav-item">User Data</span>
            </a>
            <span class="tooltip">User Data</span>
        </li>
        {{/if}}
        {{>logout}}
    </ul>

     {{>user}}
</div>

<div class="main-content">
    <div class="header">
        <h1>Data Log</h1>
    </div>

    {{#if (eq user.role "Data Manager")}}
    <div class="export">
        <button id="exportExcelButton"><i class="bx bxs-spreadsheet"></i>Export Data to Excel Sheet</button>
    </div>
    {{/if}}
    
    <div class="container-for-data">
        <h2 class="headline">Biomedical Records</h2>
        <div class="table-responsive">
            <table class="data-log">
                <thead>
                    <tr><b>Total:</b> {{biomedicalCount}}</tr>
                    <tr>
                        <th>Gender</th>
                        <th>Location</th>
                        <th>Barangay</th>
                        <th>Remarks</th>
                        <th>Age Range</th>
                        <th>Tested Before</th>
                        <th>Test Result</th>
                        <th>Reason</th>
                        <th>KVP</th>
                        <th>Linkage</th>
                        <th>Encoder</th>
                        <th>Date Encoded</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each paginatedBiomedicalPatients}}
                    <tr data-id="{{_id}}">
                        <td>{{gender}}</td>
                        <td>{{biomedical.location}}</td>
                        <td>{{biomedical.barangay}}</td>
                        <td>{{biomedical.remarks}}</td>
                        <td>{{biomedical.age_range}}</td>
                        <td>{{biomedical.tested_before}}</td>
                        <td>{{biomedical.test_result}}</td>
                        <td>{{biomedical.reason}}</td>
                        <td>{{biomedical.kvp}}</td>
                        <td>{{biomedical.linkage}}</td>
                        <td>{{encoder}}</td>
                        <td>{{formatDate date_encoded}}</td>
                        <td>
                            <a href="#" data-id="{{_id}}" class="btn-edit"><i class="bx bxs-pencil"></i></a>
                            <a href="/delete/{{_id}}" class="btn-delete"><i class="bx bxs-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            {{#if (gt biomedicalPage 1)}}
                <a href="/data?biomedicalPage={{decrement biomedicalPage}}&nonBiomedicalPage={{nonBiomedicalPage}}" class="pagination-icon"><i class='bx bx-left-arrow-alt'></i></a>
            {{/if}}
            <span>Page {{biomedicalPage}} of {{biomedicalTotalPages}}</span>
            {{#if (lt biomedicalPage biomedicalTotalPages)}}
                <a href="/data?biomedicalPage={{increment biomedicalPage}}&nonBiomedicalPage={{nonBiomedicalPage}}" class="pagination-icon"><i class='bx bx-right-arrow-alt'></i></a>
            {{/if}}
        </div>
    </div>

    <div class="container-for-data">
        <h2 class="headline">Nonbiomedical Records</h2>
            <table class="data-log">
                <thead>
                    <tr><b>Total:</b> {{nonBiomedicalCount}}</tr>
                    <tr>
                        <th>Gender</th>
                        <th>Stigma</th>
                        <th>Discrimination</th>
                        <th>Violence</th>
                        <th>Encoder</th>
                        <th>Date Encoded</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each paginatedNonBiomedicalPatients}}
                    <tr data-id="{{_id}}">
                        <td>{{gender}}</td>
                        <td>{{nonbiomedical.stigma}}</td>
                        <td>{{nonbiomedical.discrimination}}</td>
                        <td>{{nonbiomedical.violence}}</td>
                        <td>{{encoder}}</td>
                        <td>{{formatDate date_encoded}}</td>
                        <td>
                            <a href="#" data-id="{{_id}}" class="btn-edit"><i class="bx bxs-pencil"></i></a>
                            <a href="/delete/{{_id}}" class="btn-delete"><i class="bx bxs-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        <div class="pagination">
            {{#if (gt nonBiomedicalPage 1)}}
                <a href="/data?biomedicalPage={{biomedicalPage}}&nonBiomedicalPage={{decrement nonBiomedicalPage}}" class="pagination-icon"><i class='bx bx-left-arrow-alt'></i></a>
            {{/if}}
            <span>Page {{nonBiomedicalPage}} of {{nonBiomedicalTotalPages}}</span>
            {{#if (lt nonBiomedicalPage nonBiomedicalTotalPages)}}
                <a href="/data?biomedicalPage={{biomedicalPage}}&nonBiomedicalPage={{increment nonBiomedicalPage}}" class="pagination-icon"><i class='bx bx-right-arrow-alt'></i></a>
            {{/if}}
        </div>
    </div>

    {{>footer}}
</div>

<!-- edit form -->
<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="editForm">
        </form>
    </div>
</div>