<div class="sidebar">
    <div class="top">
        <div class="logo">
            <img id="logo-mini" src="./logo.png" alt="logo"/>
            <span>HIV Advocacy Database (HAD)</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    
    <ul>
        <li>
            <a href="/dashboard">
                <i class="bx bxs-grid-alt"></i>
                <span class="nav-item">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        {{#if (or (eq user.role "Data Encoder") (eq user.role "Data Manager"))}}
        <li>
            <a href="/tracker">
                <i class="bx bxs-pencil"></i>
                <span class="nav-item">Data Tracker</span>
            </a>
            <span class="tooltip">Data Tracker</span>
        </li>
        {{/if}}
        {{#if (eq user.role "Data Manager")}}
        <li>
            <a href="/data">
                <i class="bx bx-table"></i>
                <span class="nav-item">Data Log</span>
            </a>
            <span class="tooltip">Data Log</span>
        </li>
        {{/if}}
        <li>
            <a href="/profile">
                <i class="bx bxs-user"></i>
                <span class="nav-item">Profile</span>
            </a>
            <span class="tooltip">Profile</span>
        </li>
        {{#if (eq user.role "Data Manager")}}
        <li class="active">
            <a href="/history">
                <i class="bx bx-list-ul"></i>
                <span class="nav-item">History Log</span>
            </a>
            <span class="tooltip">History Log</span>
        </li>
        {{/if}}
        {{#if (eq user.role "Data Manager")}}
        <li>
            <a href="/user">
                <i class="bx bxs-user-detail"></i>
                <span class="nav-item">User Data</span>
            </a>
            <span class="tooltip">User Data</span>
        </li>
        {{/if}}
        {{>logout}}
    </ul>

     {{>user}}
</div>

<div class="main-content">
    <div class="header">
        <h1>History Log</h1>
    </div>
    
    <div class="container-for-loginhistory">
        <h2 class="headline">Login History</h2>
        <table class="history-log">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email Address</th>
                    <th>Last Login Date & Time</th>
                </tr>
            </thead>
            <tbody>
                {{#each loginHistory}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.role}}</td>
                    <td>{{this.email}}</td>
                    <td>{{formatDate this.lastLoginDateTime}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        
        <!-- pagination for login history -->
        <div class="pagination">
            {{#if (gt loginPage 1)}}
            <a href="/history?loginPage={{decrement loginPage}}" class="pagination-icon">&lt;</a>
            {{/if}}
            <span>Page {{loginPage}} of {{loginTotalPages}}</span>
            {{#if (lt loginPage loginTotalPages)}}
            <a href="/history?loginPage={{increment loginPage}}" class="pagination-icon">&gt;</a>
            {{/if}}
        </div>
    </div>

    <div class="container-for-actionhistory">
        <h2 class="headline">Action History</h2>
        <table class="history-log">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email Address</th>
                    <th>Action</th>
                    <th>Action Date & Time</th>
                </tr>
            </thead>
            <tbody>
                {{#each actionHistory}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.role}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.action}}</td>
                    <td>{{formatDate this.actionDateTime}}</td> 
                </tr>
                {{/each}}
            </tbody>
        </table>
        
        <!-- pagination for action history -->
        <div class="pagination">
            {{#if (gt actionPage 1)}}
            <a href="/history?actionPage={{decrement actionPage}}" class="pagination-icon">&lt;</a>
            {{/if}}
            <span>Page {{actionPage}} of {{actionTotalPages}}</span>
            {{#if (lt actionPage actionTotalPages)}}
            <a href="/history?actionPage={{increment actionPage}}" class="pagination-icon">&gt;</a>
            {{/if}}
        </div>
    </div>

    {{>footer}}
</div>