<div class="sidebar">
    <div class="top">
        <div class="logo">
            <img id="logo-mini" src="./logo.png" alt="logo"/>
            <span>HIV Advocacy Database (HAD)</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    
    <ul>
        <li>
            <a href="/dashboard">
                <i class="bx bxs-grid-alt"></i>
                <span class="nav-item">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/tracker">
                <i class="bx bxs-pencil"></i>
                <span class="nav-item">Data Tracker</span>
            </a>
            <span class="tooltip">Data Tracker</span>
        </li>
        <li class="active">
            <a href="/profile">
                <i class="bx bxs-user"></i>
                <span class="nav-item">Profile</span>
            </a>
            <span class="tooltip">Profile</span>
        </li>
        <li>
            <a href="/history">
                <i class="bx bx-list-ul"></i>
                <span class="nav-item">History Log</span>
            </a>
            <span class="tooltip">History Log</span>
        </li>
        <li>
            <a href="/logout">
                <i class="bx bxs-log-out"></i>
                <span class="nav-item">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>

    <div class="user">
        <img src="./gabay-logo.jpeg" alt="gabay org" class="user-img">
        <div class="div">
            <p class="bold">{{user.name}}</p>
            <p>{{user.role}}</p>
        </div>
    </div>
</div>

<div class="main-content">

    <div class="header">
        <h1>Edit Profile</h1>
    </div>

    <form action="update-profile" method="post">
        <div class="container-for-profile">
            <div class="side-logo">
                <img src="./gabay-logo.jpeg" alt="gabay org" class="side-logo">
            </div>

            <div class="profile-fields">
                <div class="profile-input-field">
                    <label for="name" class="profile-label">NAME</label>
                    <input type="text" name="name" class="profile-textarea" value="{{user.name}}" required>
                </div>

                <div class="profile-input-field">
                    <label for="role" class="profile-label">ROLE</label>
                    <input type="text" name="role" class="profile-textarea" value="{{user.role}}" readonly>
                </div>

                <div class="profile-input-field">
                    <label for="email" class="profile-label">EMAIL</label>
                    <input type="email" name="email" class="profile-textarea" value="{{user.email}}" required>
                </div>

                <div class="profile-input-field">
                    <label for="current-password" class="profile-label">PASSWORD</label>
                    <input type="password" name="password" class="profile-textarea" placeholder="Enter new password">
                </div>

                <input type="submit" class="profile-submit-button" value="Save Changes">
            </div>
        </div>
    </form>
</div>
